:root {
  --white: #FFFEF9;
  --purple: #AE8CA3;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  background-color: var(--purple);
  position: relative;
  transition: width ease-in-out 0.2s;
}

nav.open {
  width: 30%;
}

nav.closed {
  width: 0;
}

nav.closed > .nav-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#nav-toggle {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  right: -3.5rem;
  margin: 0;
  padding: 0;
  background-color: var(--purple);
  border: 0;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
}

.nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.nav-content > a {
  font-size: 1.2rem;
  color: var(--white);
  text-decoration: none;
}

main {
  background-color: var(--white);
  width: 100%
}

@media (orientation: portrait) {
  #root {
    flex-direction: column;
  }

  nav {
    transition: height ease-in-out 0.2s;
  }

  nav.open {
    width: 100%;
    height: 25%
  }
  
  nav.closed {
    width: 100%;
    height: 0%
  }

  #nav-toggle {
    right: 0;
    bottom: -3.5rem;
    border-radius: 0 0 .5rem .5rem;
  }

  nav.open {
    width: 100%;
  }

  .nav-content {
    gap: 15%;
  }
}