@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --white: #FFFEF9;
  --purple: #AE8CA3;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 
NAVBAR STYLES 
*/

nav {
  background-color: var(--purple);
  position: relative;
  transition: width ease-in-out 0.2s;
}

nav.open {
  max-width: 18rem;
  width: 40%;
}

nav.closed {
  width: 0;
}

nav.closed > .nav-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#nav-toggle {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  right: -3.5rem;
  margin: 0;
  padding: 0;
  background-color: var(--purple);
  border: 0;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
}

.nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.nav-content > a {
  font-size: 1.2rem;
  color: var(--white);
  text-decoration: none;
}

.nav-content > a:hover {
  text-decoration: underline;
}

/* 
MAIN CONTENT STYLES 
*/

main {
  background-color: var(--white);
  width: 100%;
  padding: 2rem 8rem;
  color: #2F3337;
  overflow: scroll;
}

main h1 {
  text-align: center;
  font-size: 48px;
}

main > section {
  margin: 2rem 0;
}

main h2 {
  font-size: 32px;
  margin: .5rem 0;
}

main p {
  font-size: 18px;
}

main a {
  color: var(--purple);
}

@media (orientation: portrait) {
  #root {
    flex-direction: column;
  }

  /* 
  NAVBAR STYLES 
  */

  nav {
    transition: height ease-in-out 0.2s;
    min-width: 0;
    max-width: none !important;
    max-height: 18rem;
  }

  nav.open {
    width: 100%;
    height: 75%
  }
  
  nav.closed {
    width: 100%;
    height: 0%
  }

  #nav-toggle {
    right: 0;
    bottom: -3.5rem;
    border-radius: 0 0 .5rem .5rem;
  }

  .nav-content {
    gap: 15%;
  }

  /* 
  MAIN CONTENT STYLES
  */

  main {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }
}